<div class="row configureCellSplitBG-sm">
    <div>
        <div class="col-sm-12">

            <strong><i class="fa fa-filter mrs"></i> Filters</strong>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group-override">
                        <label for="state" class="control-label">Search By State:</label>
                        <select id="state" class="form-control" [(ngModel)]='clubState'>
                            <option value="TR">Test Region</option>
                            <option value="PR">Prod Region</option>
                            <option value="CR">CERT Region</option>
                            <option value="OR">Offshore Region</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mbm text-center mtm">
                <button class="btn btn-primary btn-sm" (click)="applyFilter()">APPLY FILTERS</button>
            </div>

        </div>

    </div>
</div>

<table id="resultTable" class="table">
    <thead>
        <!--REPEAT ROWS FOR CLUBS -->
        <tr>
            <th >Application</th>
            <th>URL</th>
            <th class="text-right text-center "> Club Credential</th>
            <th style="width:5%"> Admin Credential </th>
            <th style="width:5%"> Employee Login </th>
        </tr><!-- END REPEAT -->
    </thead>
    <tbody>
        <tr *ngFor='let club of filterDataList;'>
            <td>
                <div *ngIf='!(club.CurrentFeatures == 4 && !club.IsFeatured)' class="bootstrap-switch bootstrap-switch-small">
                    <bSwitch [(ngModel)]="club.IsFeatured" [switch-animate]="false"
                             (onChangeState)="toggleFeaturedPlans($event, club)">
                    </bSwitch>
                </div>
            </td>
            <td>
                {{club.Name}} <span class="badge badge-red pull-right" [style.display]="(club.CurrentFeatures == 4 && !club.IsFeatured && updateStatus)?'block':'none'"> <i class="fa fa-exclamation-triangle mrs"> </i> club has 4 active plans. please reconcile</span>
                <span class="badge badge-green pull-right"  [style.display]="(club.ShowPlanIsAlreadyFeatured)?'block':'none'"> <i class="fa fa-info-circle mrs"> </i> this plan is already featured</span>
                <div class="recon-slide"   [@toggleState]="club.ShowHideReconcile" >
                    <div><small>Please reconcile.Only 4 feature plans may be active at one time</small></div>
                    <div  class="mts tblDefaulFalse" style="border-bottom: thin solid #000;" *ngFor='let plan of club.plans'>
                        <div *ngIf="club.ShowHideReconcile" class="bootstrap-switch bootstrap-switch-small">
                            <bSwitch [(ngModel)]="plan.IsFeatured" (click)="showValidationMessage(club, plan)" [switch-disabled]="(club.CurrentFeatures >= 4 && plan && plan.IsFeatured == false)"
                                     (onChangeState)="updateFeaturedPlans($event, club, plan)" [switch-animate]="false">
                            </bSwitch>
                            
                        </div>

                        {{plan.Name}}
                    </div>
                </div>
            </td>
            <td class="text-center" [class.tblDefaulTrue]='club.CurrentFeatures >= 4'> <strong>{{ club.CurrentFeatures }}</strong></td>
            <td><button type="button" class="btn btn-primary btn-sm recon-btn" (click)="getPlansData(club)"> reconcile </button></td>
        </tr>
    </tbody>
</table>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div *ngIf="!updateStatus" class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.6; cursor: wait; position: fixed;"></div>
<div *ngIf="!updateStatus" class="blockUI blockMsg blockPage" style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 3px solid rgb(170, 170, 170); background-color: rgb(255, 255, 255); cursor: wait;"><div id="loader-box" style="height:115px; background-color: #d8e3ed; border: 1px solid #8e8b86;">
    <div id="loader-animation" style="text-align: center;margin-top:15px; margin-bottom: 10px;"><img id="spinner" src="Content/Image/spinner.gif" alt="Please Wait" style="text-align: center;"></div><div id="loader-copy" style="color:#275a8b; font-weight: bold; font-size: 11px; font-family: Verdana; text-align:center;"> Loading...</div></div></div>

